@model ClinicaCaniZzoo.Models.Hospitalizations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hospitalizations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animals.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animals.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatoRicovero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatoRicovero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoAnimale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoAnimale)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdRicovero }) |
    @Html.ActionLink("Back to List", "Index")
</p>
