@model IEnumerable<ClinicaCaniZzoo.Models.Animals>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRegistrazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipologia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColoreMantello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Microchip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRegistrazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipologia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColoreMantello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Microchip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAnimale }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAnimale }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAnimale })
        </td>
    </tr>
}

</table>
