@model ClinicaCaniZzoo.Models.Visits

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animals.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animals.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsameObiettivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsameObiettivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescrizioneCura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescrizioneCura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-warning text-white" onclick="location.href='@Url.Action("Edit", new { id = Model.IdVisita })'">Edit</button>
</p>

@Html.ActionLink("Back to List", "Index")
