@model IEnumerable<ClinicaCaniZzoo.Models.Visits>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Visits</h2>
<div class="d-flex justify-content-center">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary my-3" })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animals.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsameObiettivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescrizioneCura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animals.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsameObiettivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescrizioneCura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Edit", new { id = item.IdVisita })'">Edit</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Details", new { id = item.IdVisita })'">Details</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.IdVisita })'">Delete</button>
        </td>
    </tr>
}

</table>
