@model ClinicaCaniZzoo.Models.Users

@{
    ViewBag.Title = "Dettagli utente";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Dettagli utente</h2>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-3">
                    Nome:
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-3">
                    Cognome:
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cognome)
                </dd>
                <dt class="col-3">
                    Codice Fiscale:
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.CodiceFiscale)
                </dd>
                <dt class="col-3">
                    Telefono:
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-3">
                    Email:
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
        <a href="@Url.Action("Edit", new { id = Model.IdUser })" class="btn btn-primary">Modifica anagrafica utente</a>
        <a href="@Url.Action("Index")" class="btn btn-success">Ritorna alla lista clienti</a>
    </div>
</div>
