@model IEnumerable<ClinicaCaniZzoo.Models.Users>

@{
    ViewBag.Title = "Clienti";
}

<div class="d-flex justify-content-between my-3">
    <h2 class="fw-bolder fs-1">Clienti farmacia</h2>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Aggiungi un nuovo cliente</a>
    </p>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold fs-1">@Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Cognome)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Ruolo)</h6>
                    <p class="card-text">
                        <strong>Codice Fiscale: </strong>@Html.DisplayFor(modelItem => item.CodiceFiscale)<br />
                        <strong>Telefono: </strong>@Html.DisplayFor(modelItem => item.Telefono)<br />
                        <strong>Email: </strong>@Html.DisplayFor(modelItem => item.Email)<br />
                    </p>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdUser }, new { @class = "btn btn-primary btn-sm mr-1" })
                        @Html.ActionLink("Details", "Details", new { id = item.IdUser }, new { @class = "btn btn-info btn-sm mr-1" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
