@model IEnumerable<ClinicaCaniZzoo.Models.Products>

@{
    ViewBag.Title = "IndexFarmacia";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2>Prodotti Farmacia</h2>

<h4>Cerca un prodotto:</h4>
<div>
    @Html.TextBox("searchInput", null, new { @class = "form-control", placeholder = "Scrivi un prodotto..." })
    <button id="btnSearch" class="btn btn-success mt-3" style="width:150px">Cerca</button>
</div>
<hr />
<div class="d-flex flex-wrap cardContainer">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <img src=@item.ImgProdotto class="card-img-top" alt=@item.NomeProdotto>
            <div class="card-body">
                <h5 class="card-title">@item.NomeProdotto</h5>
                <p class="card-text">@item.TipoProdotto <br />@item.Armadietto @item.Cassetto</p>
                @Html.ActionLink("Ordina", "Details", "Products", new { id = item.IdProdotto }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
<div class="d-none flex-wrap searchContainer">
    <h3>Non esiste nessun prodotto con questo nome.</h3>
</div>

@section scripts {
    <script>
        let cardContainer = document.querySelector(".cardContainer");
        let searchContainer = document.querySelector(".searchContainer");
        let btnSearch = document.querySelector("#btnSearch");

        btnSearch.addEventListener("click", async () => {
            let searchInput = document.querySelector("#searchInput").value;
            if (searchInput !== "") {
                let currentUrl = window.location.href;
                let url = new URL(currentUrl);
                let baseUrl = url.protocol + "//" + url.host;
                try {
                    const res = await fetch(baseUrl + "/Products/Search?query=" + searchInput)
                    if (res.ok) {
                        const data = await res.json();
                        console.log(data)
                        if (data.length > 0) {
                            let products = "";
                            for (let i = 0; i < data.length; i++) {
                                let product = `<div class="card m-3" style="width: 18rem;">
                                                  <img src="${data[i].ImgProdotto}" class="card-img-top" alt="${data[i].NomeProdotto}">
                                                  <div class="card-body">
                                                    <h5 class="card-title">${data[i].NomeProdotto}</h5>
                                                    <p class="card-text">${data[i].TipoProdotto} <br />${data[i].Armadietto} ${data[i].Cassetto}</p>
                                                    <a href="${baseUrl}/Products/Details/${data[i].IdProdotto}" class="btn btn-primary">Ordina</a>
                                                  </div>
                                                </div>`;
                                products += product;
                            }
                            searchContainer.innerHTML = products
                        }
                        cardContainer.classList.add("d-none");
                        searchContainer.classList.remove("d-none");
                        searchContainer.classList.add("d-flex");
                    }
                    else {
                        console.log('Errore nel caricamento dei dati')
                    }
                }
                catch (err) {
                    console.log('ERRORE!', err)
                }
            }
            else {

                cardContainer.classList.remove("d-none");
                searchContainer.classList.add("d-none");
            }
        })
    </script>
}